
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('images/image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

 .about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #663f3f;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

.contact p {
    margin: 5px 0;
}

